name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install printf-v2
        run: |
          git clone https://github.com/agatocherry/printf.git printf-v2
          cd printf-v2
      - name: Testing
        run: cd tests && bash tests.sh all