name: tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y nasm
      - name: Testing
        run: cd tests && bash tests.sh all