name: Test printf

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Testing cspdiuxX%
        run: |
          git clone --recursive https://github.com/agatocherry/printf.git printf-v2
          cd printf-v2
          cd tests
          bash tests.sh all