name: tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install
      run: |
        git clone --recursive https://github.com/agatocherry/printf.git
        cd printf
      - name: Testing
      run: cd tests && bash tests.sh all